header {
    border: 7px solid blue;
    color: blue;
}

h1 {
    text-align: center;
    border: 2px solid red;
    color:red;
    margin-top: 15px;
    margin-bottom: 0px;

}

div {
    border: 4px solid green;
    color: green;
    margin-top: 15px;

}